doctype html
html
    head
        title Publisher Detailed Page
    body
        include ../partials/header
        include ../partials/publisher_header
        style.
            p{
                font-size: 16px;
                font-weight: 700;
            }

        if publishers !== undefined && publishers.length < 1
            p Nothing matches your search.
        if publishers !== undefined && publishers.length > 0
            p List of Publishers:
            //Shows only users with public profiles.
            each u in publishers
                a(href="/publishers/" + u["email"])= u.email
                br
        if errormessage
            script(type="text/javascript", charset="utf-8").
                alert("#{errormessage}")